body {
    background-image: url("station.jpg");
    background-size: cover;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

div {
    /* max-width: 410px;
    margin-left: auto;
    margin-right: auto; */
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 2px dotted saddlebrown;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkslategrey;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: antiquewhite;
    font-family: inherit;
}

#save-btn {
    background: whitesmoke;
    font-family: inherit;
}

